@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  width: 400px;
  min-height: 500px;
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
}

.hidden {
  display: none !important;
}